.logo-nav-holder{
    background-color:#fff;
    margin-left: 6px;
    margin-right: 6px; 
    margin-top: 2px;
    border-radius: 4px;
    position:fixed;
    z-index: 2147483647;
    width:97%
}

.navigation-bar{
    padding-top: 65px;
}

.navigation-bar nav a{
    padding-right: 50px;
    font-weight: bold;
    color: #000
}

.white{
    color: #fff
}

.holder{
    border: solid 2px red;
    width:inherit
}

.show{
    border:solid 2px red
}

.list-head{
    font-weight: bold;
    color:#438cb0
}

.services-list{
    padding-left: 0px;
    font-size: 12px
}

.top-pad{
    margin-top: 15px;
}

footer{
    border: solid 2px #333;
    background-color: #333;
    height: 70px;

}
.blue{
    color:#2222ff 
}
.fb:hover{
    color: #22f;
}
.tw:hover{
    color: #6cf;
}
.gp:hover{
    color: #a33;
}

.social-media:hover{
    background-color: #fff;
    color:#222;
    padding:4px 4px
}

.services-list li a:active, .services-list li a:hover, .services-list li a{
    color: #222
}
} 